p {
    padding: 10px;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;    
    font-size: 0.4m;
    background-color: #CCC;
    color: #0e0707;
}


nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    justify-content: center;
    text-align: center;
    padding: 0px 10px 0px 10px;
    flex-wrap: wrap;
    border: none;
}

nav a {
    border: none;
    color: #000;
    background-color: #CCC;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    font-size: 0.6cm;
    flex-shrink: 0;
    white-space: normal;

}

nav a:hover {
    color: #000;
    font-size: 0.8cm;
    margin: 5px;
    padding: 15px;
}



div#content {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex: 1;
}

div#box1, div#box2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 400px;
}

div#box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 400px;
}

div#box4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    min-width: 200px;
    max-width: 225px;
}


div#box5 , div#box7, div#box8 {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 200px;
}

div#box6, div#box9, div#box10, div#box11 {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
}


.box {
    height: 420px;
    margin: 10px;
    padding: 10px;
    margin: 20px;
    transition: all 0.5s ease;
    border: 2px solid #BBB;
}

.box2 {
    height: 420px;
    margin: 10px;
    padding: 10px;
    margin: 20px;
    transition: all 0.5s ease;
    border: 2px solid #BBB;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    min-width: 300px;
    max-width: 500px;

}

.box:hover, .box:hover {
    border: 3px solid #BBB;
    height: 450px;
    padding: 20px;
    margin: 10px;
}

img {
    min-width: 256px;
}


button {
    border: none;
    color: #000;
    background-color: #C0C0C0;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    font-size: 0.6cm;
    flex-shrink: 0;
    white-space: normal;

}

button:hover {
    color: #000;
    font-size: 0.8cm;
    margin: 5px;
    padding: 15px;
}


.p5px {padding: 5px;}
.m5px {margin: 5px;}
.null {
    margin: 0px;
    padding: 0px;
}

