@font-face {
    font-family: 'FonteBonita';
    src: url('BodoniModaSC-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    padding: 10px;
    font-size: 15px;
}

h1 {
    font-family: FonteBonita;
    font-size: 20px;
    color: #0e0707;
}

body {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;    
    background-color: #f6eef6;
}


nav {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    justify-content: center;
    text-align: center;
    padding: 0px 10px 0px 10px;
    flex-wrap: wrap;
    border: none;
}

nav a {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    border: none;
    color: #444444;
    background-color: #f6eef6;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.7s ease;
    text-decoration: none;
    flex-shrink: 0;
    white-space: normal;

}

nav a:hover {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    transform: scale(1.2);
    margin: 20px;
}



div#content {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex: 1;
}

div#box1, div#box2 {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 400px;
}

div#box3 {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 400px;
}

div#box4 {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    min-width: 200px;
    max-width: 225px;
}


div#box5 , div#box7, div#box8 {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 200px;
}

div#box6, div#box9, div#box10, div#box11 {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
}


.box {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    height: 430px;
    margin: 10px;
    padding: 10px;
    margin: 20px;
    transition: all 0.7s ease;
    border: 2px solid #BBBBBB;
}

.box2 {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    height: 430px;
    margin: 10px;
    padding: 10px;
    margin: 20px;
    transition: all 0.7s ease;
    border: 2px solid #BBBBBB;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    min-width: 300px;
    max-width: 500px;

}

.box3 {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    height: 430px;
    margin: 10px;
    padding: 10px;
    margin: 20px;
    transition: all 0.7s ease;
    border: 2px solid #BBBBBB;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 200px;
}

.box:hover, .box2:hover {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    border: 3px solid #BBBBBB;
    background-color: #F4C6CF;
    transform: scale(1.3);
}

.box3:hover {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    border: 3px solid #BBBBBB;
    background-color: #F4C6CF;
    transform: scale(1.3);
}

img {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    min-width: 256px;
}


button {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    border: none;
    color: #444444;
    background-color: #F4C6CF;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.7s ease;
    text-decoration: none;
    flex-shrink: 0;
    white-space: normal;
    width: 100px;

}

button:hover {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    transform: scale(1.2);
}


.p5px {
    font-family: PublicSans, Helvetica, Arial, sans-serif;padding: 5px;}
.m5px {
    font-family: PublicSans, Helvetica, Arial, sans-serif;margin: 5px;}
.null {
    font-family: PublicSans, Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

